<h1>List my Article </h1>
<p>
  <table>
    <%= link_to "Create new Article", new_article_path %>
    <tr>
      <th>title</th>
      <th>Description:</th>
      <th>Action:</th>

    </tr>
    <%  @article.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to "Edit", edit_article_path(article)  %></td>
      <td><%= link_to "Show", article_path(article)  %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </table>
</p>
