
<div class="container bootstrap snippet">

    <div class="col-md-12">
      <% @article.each do |article| %>
        <article>
            <div class="line-item hf-item-odd clearfix">
                <div class="content-image">
                <a class="image-link article-link" href="#">
                  <img class="img-thumbnail"  src="https://placehold.it/140x100/5bc0de">
                  <span class="overlay article-overlay"></span>
                </a>
              </div>
              <div class="hf-info">
                <div class="hf-category">
                  <a href="#" class="text-danger">Category</a>
                </div>
                <h2 class="post-title">


                <a class="article-link" href="#">
                <%= link_to "#{article.title}", view_path(article) %>
                  <span class="overlay article-overlay"></span>
                </a>
                </h2>
                <div class="summary">
                 <%= truncate(article.description, length:200) %>
              <p>   <%= link_to "Leia mais", view_path(article), class:"btn-primary btn-default" %></p>

                 </button>
                 <small>Create by: <%= article.user.email if article.user %></small>
                </div>
              </div>
            </div>
        </article>

<% end %>

<ul class="pagination">
Páginas: <%= will_paginate @article %>
</ul>
<!-- end article file -->

    </div>
</div>
